*{
    margin: 0;
    padding: 0;
}
.body {
    font-family: 'Poppins', sans-serif;
}

/*-----------Small info panel under the navbar */

.bq-text {
    font-size: 14px;
    align-items: center;
    display: flex;
    margin-top: 0.5%;
    letter-spacing: 0,5px;
    justify-content: center;
    padding-top: 3px;
}


/*--------------------------------------------------*/
/*---------------------NAVBAR-----------------------*/
/*------------------------------------------------=-*/

.navbar-default {
    background-color: rgb(58,58,60);
    font-size: 15px;
    height: 45px;

}

.navbar-default .navbar-nav  li  a {
    color:red;
}

/*----------------------------------------------------*/
/*------------------Carousel--------------------------*/
/*----------------------------------------------------*/


#carouselExampleIndicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #404040;

}

/*----------------------------------------------------*/
/*------------------First content index--------------------------*/
/*----------------------------------------------------*/

.jumbotron {
    padding-top: 200px;
    background:url(../Assets/6.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 100%;
}

.jumbotron p {
    width: 45rem;
}

/*--------------------------------------------------------*/
/*------------------second content index------------------*/
/*--------------------------------------------------------*/

.showcase img {
    width: 50vw;
    height: 70vh;
}

.sh-ps {
    top: -450px;
    position: relative;
}

.sh-ps-a {
    color: #ffffff;
    top: -450px;
    position: relative;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------Here starts the about.html----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*----------------Content- row one about.htmt------------------*/
/*-------------------------------------------------------------*/
.content-rowone img{
    width: 23.9vw;
    height: auto;
  
}
.content-rowone {
    width: 100%;
}

/*------------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*--------------------Content-row- two-----------------------*/
/*-----------------------------------------------------------*/

.content-rowtwo img{
    width: 23.9vw;
    height: auto;
}

.content-rowtwo-text {
    background-color: #eeeeee;
}

.content-rowtwo-iframe {
    width: 40vw;
    height: 45vh;
    justify-content: center;
    padding-left: 110px;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------Content-row- thre-------------------*/
/*------------------------------------------------------*/

.content-rowthree {
    width: 40vw;
    height: auto;
    background-color: #eeeeee;
}

.content-rowthree img {
    width: 35vw;
}
.content-rowthree-color {
    color: #289D7B;
}
.content-rowthree-s {
    font-size: 0.8rem;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*---------------------Content-row-four----------------------*/
/*-----------------------------------------------------------*/

.content-rowfour {
    background-color: #eeeeee;
}

.content-rowfour img {
    width: 25vw;
}

.content-rowfour-a p {
    text-align: justify;
   
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------Here starts the registration.html----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*---------------------event logo----------------------*/
/*-----------------------------------------------------------*/


.event-logo-a {
    background-image: url(../Assets/eve.jpg);
    width: 100vw;
    height: auto;
    background-size: 100%;
}

.event-logo-a a {
    font-size: 19px;
}

.event-logo-a p {
    color: #ffffff;
}


.event-logo-b  {
    color: #ffffff;
    padding-top: 19%;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*---------------------Speakers----------------------*/
/*-----------------------------------------------------------*/

.speaker-t {
    background-color: #eeeeee;
}

.speaker-tim {
    background-image: url(../Assets/timi.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.speaker-tim p {
    font-size: 22px;
    position: relative;
    top: 220px
}
.speaker-tim h1  {
    position: relative;
    top: 200px
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*---------------------Speakers eddie----------------------*/
/*-----------------------------------------------------------*/

.speaker-eddie {
    background-image: url(../Assets/ed.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.speaker-eddie p {
    font-size: 22px;
    position: relative;
    top: 220px
}
.speaker-eddie h1  {
    position: relative;
    top: 200px
}
